*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container__left-text{
    margin-left: 50px;
    margin-top: 55px;
    
}
.container__left {
	display: flex;
	justify-content: left;
	
	height: 100%;
	margin-right:-100px;
}
.container__left-list li {
	display: inline-block;

}
.main_top{
    margin-left: 30px;
}

.container__left-list li a {
	display: inline-block;
	padding: 8px 16px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
    margin-top: 52px;

}
.form-group {
	margin-block: 16px;
    
	
}

.form__input-wrap {
	display: flex;
	align-items: center;
    background-color: white;
    border: 1px solid gray;

	
	border-radius: 5px;
	overflow: hidden;
	position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
.main_text{
    font-weight: 700;
    font-size: 30px;
    margin-left: 500px;
}

.form__input-icon-wrap {
	background-color: #e9ecef;
	padding: 6px 10px;

	border-right: 1px solid gray;

	color: #495057;
	width: 130px;
	margin: 0;
}
.form__input{
    border: 0;
}
.btn{
    margin-left: 1100px;
}
.close{
    border: 0;
    background-color: rgb(159, 205, 50);
    font-weight: bold;
    margin-top: -65px;
    margin-left: 1180px;
}

.footer{
    margin-top: 180px;
    border: 1px solid rgb(0, 119, 255);
    width: 100%;
    height: 50px;
    color: black;
    font-weight: bolder;
    text-align: center;
}